.profile__description {
  min-width: 336px;
  font-size: 18px;
  font-weight: normal;
  line-height: 122%;
  margin:0;
  margin-top: 16px;
  text-align: left;
}

@media screen and (max-width:440px) {
  .profile__description {
    min-width: 89vw;
    margin-top: 14px;
    margin-bottom: 36px;
    font-size: 14px;
    text-align: center;
  }
}