.profile__info {
  width: 562px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@media screen and (max-width:900px) {
  .profile__info {
    width: 62vw;
  }
}

@media screen and (max-width: 640px) {
  .profile__info {
    width: 100%;
  }
}