.place {
  margin: 0 auto;
  max-width: 282px;
  background-color: white;
  border-radius: 10px;
  position: relative;
}

@media screen and (max-width:900px) {
  .place {
    width: 30vw;
  }
}

@media screen and (max-width: 640px) {
  .place {
    width: 42vw;
  }
}

@media screen and (max-width: 440px) {
  .place {
    width: 100%;
  }
}